<h3 class="bg-primary p-1 text-white">Weather Forecast. You are in {{location}}</h3>
<div class="bg-primary p-1 text-white">
    <p *ngIf="localWeather.length == 0">Searching...</p>
    <div *ngIf="localWeather.length > 0">
        <table style="width: 100%; text-align: center">
            <thead></thead>
            <tbody>
                <tr>
                    <td *ngFor="let forecast of localWeather">
                        <img [src]="forecast.iconLink" />
                        <p>{{ forecast.highTemperature }}C</p>
                        <p>{{ forecast.utcTime | moment }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<form class="form-inline m-3">
	<div class="form-group">
		<label>City:</label>
		<input class="form-control m-1" #city />
		<input type="submit" class="btn btn-info" value="Add" (click)="addItem(city.value)"/>
	</div>
</form>
<table class="table table-striped m-3">
    <thead>
		<tr class="row">
            <th class="col-sm-1">№</th>
            <th class="col-sm-2">City</th>
            <th class="col-sm-7">Weather</th>
			<th class="col-sm-1"></th>
		</tr>
    </thead>
    <tbody>
        <tr  class="row" *ngFor="let item of getSites(); let i = index">
            <td class="col-sm-1"> {{i + 1}}</td>
            <td class="col-sm-2">{{item.city}}</td>
            <td class="col-sm-7">{{item.forecast}}</td> 
            <td class="col-sm-1"><input type="button" value="-" (click)="removeItem(item)"/></td>
        </tr>          
    </tbody>
</table>